<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CounsellorStudentDBMS/DBMSStyles.css' %}" />
<link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->


<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link href="assets/css/material-kit.css" rel="stylesheet"/>


    <title>Title</title>
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC"}
.bgimg{
          background-image: url("/media/counsellingblur.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          opacity = 50%;
          }
          .panel-body {
  background-color: rgba(255, 255, 255, 0.4);
}
.form-control{
background-color:rgba(255, 255, 255, 0.4);
}
          {% block style %}
          {% endblock %}
 .borderless td, .borderless th {
    border: none;
}
.table{
font-size:30px
}
.btn-block {
    height:10px
    width:10px;
}
    </style>
</head>
<body class ="bgimg">
{% if request.user.user_profile.p_type == 1 %}
<ul class="navbar">
    <li class="navbar"><a href="{%url 'student_home'%}"><h4>Home<i class="material-icons">home</i></h4></a></li>
    <li class="navbar"><a  href="{%url 'EditStudentProfile' %}"><h4>Edit Profile<i class="material-icons">person</i></h4></a><br/></li>
    <li class="navbar"><a href="{%url 'Notifications'%}"><h4>Notifications</h4></a></li>
    <li class="navbar">  <a href="{%url 'report'%}"><h4>Report</h4></a></li>
    <li class="navbar"> <a href="{%url 'RegDetails'%}"><h4>Admission Details</h4></a></li>
    <li class="navbar"> <a href="{%url 'Scholarships'%}"><h4>Scholarships</h4></a></li>
    <li class="navbar"> <a href="{%url 'Cocurr'%}"><h4>Co-curricular Activities</h4></a></li>
    <li class="navbar"> <a href="{%url 'CounsDetails'%}"><h4>Counsellor details</h4></a></li>
    <li class="navbar"><a href="{%url 'logout_view'%}"><h4>Logout<i class="material-icons">power_settings_new</i></h4></a></li>
</ul>
{% elif request.user.user_profile.p_type == 3 %}
<ul class="navbar">
  <li class="navbar"><a href="{%url 'parent_page'%}">Home<i class="material-icons">home</i></a></li>
  <li class="navbar"><a href="{%url 'EditParProfile'%}">Edit Profile<i class="material-icons">person</i></a><br/></li>
  <li class="navbar"><a href="{%url 'Notifications'%}">Notifications<i class="material-icons">notifications</i></a></li>
  <li class="navbar" style="float:right"><a href="{%url 'logout_view'%}">Logout<i class="material-icons">power_settings_new</i></a></li>
</ul>
{% elif request.user.user_profile.p_type == 2 %}
<ul class="navbar">
    <li class="navbar"><a href="{%url 'counsellor_page'%}">Home<i class="material-icons">home</i></a></li>
  <li class="navbar"><a href="{%url 'EditCounsProfile'%}">Edit Profile<i class="material-icons">person</i></a></li>
    <li class="navbar"><a href="{%url 'reg_student' %}">Register Student <i class="material-icons"> person_add</i></a></li>
    <li class="navbar"><a href="{%url 'reg_parentxx' %}">Register Parent <i class="material-icons"> person_add</i></a></li>
    <li class="navbar"><a href="{%url 'SendNoti' %}">Notifications<i class="material-icons">notifications</i></a></li>
    <li class="navbar" style="float:right"><a href="{%url 'logout_view'%}">Logout<i class="material-icons">power_settings_new</i></a></li>
</ul>
{% endif %}

{% if messages %}
            {% for message in messages %}
                <li class="msgs" >{{ message }}</li>
            {% endfor %}
{% endif %}
<br/>
{% block body %}
{% endblock %}
</body>
</html>